{% extends "incl/base.html" %}
{% load static %}

{% block title %}
<title>AskMe</title>
{% endblock title %}

{% block content %}
    <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <h2>New Questions</h2>
                </div>
                <a href="{% url "hot" %}" class="col-3 link-success little-label">
                    <h5>Popular questions</h5>
                </a>
            </div>
            {% for question in new_questions %}
                {% include "incl/single_question.html" %}
            {% endfor %}
            {% include "incl/pagination.html" %}
    </div>
{% endblock content %}
        