{% extends "incl/base.html" %}
{% load static %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <h2>{{ username  }}</h2>
                </div>
            </div>
            <form>
                <div class="mb-3">
                  <label for="emailForm" class="form-label">Email address</label>
                  <input type="email" readonly class="form-control input-area" value={{ email }} id="emailForm">
                </div>
                <div class="mb-3">
                    <label for="nicknameForm" class="form-label">Nickname</label>
                    <input type="text" readonly class="form-control input-area" value={{ username }} id="nicknameForm">
                  </div>
                  <div class="mb-3">
                    <div class="row">
                        <label for="avatarForm" class="form-label">Avatar</label>
                        <image src="{% static "img/watergirl.png" %}" class="question-avatar" id="avatarForm">
                    </div>
                  </div>
              </form>   
        </div>
{% endblock content %}