{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Question 2</title>
{% endblock title %}

{% block content %}
      <div class="col-9">
            <!-- <h2>This Question</h2> -->
            <div class="row question-answer">
              <div class="col-2">
                <div class="row">
                  <img class="question-big-avatar" src="{{ question.author.avatar.url }}" alt="">
                </div>
                <div class="row">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary question-button" for="btnradio3">Like</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary question-button" for="btnradio4">Dislike</label>
                  </div>
                </div>
                <div class="row" style="padding-left: 60px;">
                  <h7>
                      Total: {{ question.carma}}
                  </h7>
              </div>
              </div>
              <div class="col-8">
                <div class="row">
                        <h5>{{ question.title }}</h5>
                    </div>
                    <div class="row">
                        <h7>
                          {{ question.text }}
                        </h7>
                    </div>
                    <div class="row">
                        <h5> </h5>
                    </div>
                    <div class="row">
                          <div class="col-2">
                            <h8>
                                Answers({{ question.answers_number }})
                            </h8>
                        </div>  
                        <div class="col-10">
                            <h8>
                                Tags:
                                {% for tag in question.tags.all %}
                                    {{ tag.name }}
                                {% endfor %}
                            </h8>
                        </div>
                    </div>
              </div>
            </div>
            <hr/>
            {% for answer in answers %}
                {% include "incl/single_answer.html" %}
            {% endfor %}
        <hr/>
        <form action='/question/' method='post' class="row new-question">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg send-question-button">Answer!</button>
          {% endbuttons %}
        </form>
        {% include "incl/pagination.html" %}
    </div>
{% endblock content %}