{% load static %}

<div class="row question">
    <div class="col-1">
        <div class="row">
            <img class="question-avatar" src="{{ question.author.avatar.url }}" alt="">
        </div>
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" data-id="{{ question.question_id }}" class="vote-up btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                <label class="btn btn-outline-primary question-button" for="btnradio1">Like</label>
              
                <input type="radio" class="vote-down btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary question-button" for="btnradio2">Dislike</label>
              <h7>
                {{ question.question_id }}
              </h7>
              </div>
        </div>
        <div class="row carma-{{ question.question_id }}" style="padding-left: 7px;">
            <h7>
                Total: {{ question.carma }}
            </h7>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <h5>
                <a class="link-dark" href="{% url "question" %}?id={{ question.id }}">
                    {{ question.title }}
                </a>
            </h5>
        </div>
        <div class="row" style="height: 100px;">
            <h7>
                {{ question.text }}
            </h7>
        </div>
        <div class="row">
            <h5> </h5>
        </div>
        <div class="row">
            <div class="col-2">
                <h8>
                    Answers({{ question.answers_number }})
                </h8>
            </div>
            <div class="col-10">
                <h8>
                    Tags:
                    {% for tag in question.tags.all %}
                        {{ tag.name }}
                    {% endfor %}
                </h8>
            </div>
        </div>
    </div>
</div>
